*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-size: 12pt;
}
body{
background-color:rgb(52,73,94) ;
}
.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    padding: 20px;
    height: auto;
    /*background:rgb(52,73,94);*/
}
.tarjetaLogin{
    position: relative;
    margin:auto;
    width: 50%;
    height:auto;
    transition-duration: 1s;
    background:snow;
    border-radius: 10px;

}
.tarjeta:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0, 0, 0, 0.959);
}
.separador-redondo{
    border-top: 2px solid #bbb;
}
.fila{
    position:relative;
    margin: auto;
    width: 100%;
    height:auto;
    clear:both;
    display:table;

}
[class *="col-"]{
    float: left;
    padding:20px;
    text-align: center;
}
input[type=email], input[type=text], input[type=password]{
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
button{
    transition-duration: 1s;
    width:250px;
    height:50px;
    color:green;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
img{
width:100px;
height:100px;
object-fit: cover;
}

header #logo{
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
text-align: center;
line-height: 60px;
}

/*pantalla grande*/

@media (min-width: 1200px)  {    
    .col-lg-0{
        display: none;
    }    
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;

    }
}

/*pantalla mediana*/

@media (min-width: 992px) and (max-width: 1199px){
    .col-md-0{
        display: none;
    }    
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }

}

/*pantalla pequeña*/

@media (min-width: 768px) and (max-width: 991px){
    .col-sm-0{
        display: none;
    }    
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/*pantalla  extra pequeña*/

@media (min-width: 767px) {
    .col-xs-0{
        display: none;
    }    
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}