@{
Layout = "~/Views/Paciente/_Layout_.cshtml";
}


<!--============================
         Seccion 1
============================-->
<section class="fila"></section>

<!--============================
         Seccion 2
============================-->
<section class="fila"></section>

<!--============================
       Seccion 3
 ============================-->
<section class="fila"></section>
<hr />


